# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'
- task: CMake@1
  inputs:
    cmakeArgs: ..
- task: CmdLine@2
  inputs:
    script: 'cd $(Build.SourcesDirectory)\build && make && ./unittest'
- task: CmdLine@3
  inputs:
    script: 'cd $(Build.SourcesDirectory)\build && ./unittest'

